{
    "trflow_xray": "models/trflow_xray.pth",
    "trflow_nmr": "models/trflow_nmr.pth",
    "esm_weights": "models/esm_msa1_t12_100M_UR50S.pt",
    "openfold": {
        "python": "",
        "runner": "openfold/run_pretrained_openfold_multi.py",
        "model_name": "model_5_ptm",
        "param_path": "models/openfold_params_model_5_ptm.npz",
        "timeout_seconds": 7200,
        "cpus": 4
    },
    "gpus": [0]
}
